<div class="base_background text-white">
  <h1 class="title mb-3 text-center">Contact</h1>
  <div class="container">
    <%= form_tag do %>
      <div class="row">
        <div class="left-item col-6"><%= label_tag :name, "Name:" %></div>
        <div class="right-item col-3"><%= text_field_tag :name %></div>

        <div class="left-item col-6"><%= label_tag :email, "Email:" %></div>
        <div class="right-item col-3"><%= email_field :user, :email %></div>

        <div class="left-item col-6"><%= label_tag :message, "Message" %></div>
        <div class="right-item col-3"><%= text_area_tag :message, "Please your voice here.", size: "36x6" %></div>

        <div class="left-item col-6"></div>
        <div class="right-item col-3"><%= submit_tag "Submit", class: "custom-btn btn-primary" %></div>
      </div>
    <% end %>
  </div>
</div>