<!-- ログイン済みのユーザにはinformartionを表示-->
<% if logged_in? %>
  <div id="user_information" class="align-center box">
    <h4>Information</h4>
    <% if @entries.any? %>
      <%= render @entries %>
    <% else %>
      <p>参加イベント主催者からのメッセージがここに表示されます。</p>
    <% end %>
  </div>
<% else %>
<!-- 元デザインでbanner下部だった箇所 -->
  <div id="welcome_info">
    <div class="flex">
      <div>
        <span class="icon fas fa-search"></span>
        <h3>知る</h3>
        <p>HSPとはなんでしょうか？</p>
      </div>
      <div>
        <span class="icon far fa-paper-plane"></span>
        <h3>聞く</h3>
        <p>誰かに相談してみませんか？</p>
      </div>
      <div>
        <span class="icon far fa-comments"></span>
        <h3>話す</h3>
        <p>イベントの主催・参加ができます</p>
      </div>
    </div>
    <footer>
      <%= link_to "始める", signup_path, class: "button" %>
    </footer>
  </div>
<% end %>

<!-- three -->
<section id="three" class="wrapper align-center">
  <div class="inner">
    <div class="flex flex-2">
      <article>
        <div class="image round">
          <%= image_tag "sakura.jpg", :alt => "Sakura" %>
        </div>
        <header>
          <h4 class="intro-link"><%= link_to 'HSP(Higly Sensitive Person)とは？', explain_path %></h4>
        </header>
     </article>
      <article>
        <!-- ユーザーページに通すのが理想。現状はテストが通らないのでtwitterで代用 -->
        <div class="image round explain">
            <%#= gravatar_for @producer, size: '150' %>
          <%= image_tag 'pic02.jpg', alt: "Pic 02" %>
        </div>
        <header>
          <!--h4 class="intro-link"><%#= link_to '作った人', user_path(@producer) %></h4-->
          <%= link_to '作った人', 'https://twitter.com/fffMagnolia' %>
        </header>
      </article>
    </div>
  </div>
</section>