<% provide :title, 'Log in' %>
<div class="">
  <div class="container">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="row">
        <div class="col-11"><%#= render 'shard/error_messages' %></div>

        <div class="left-item col-6"><%= f.label :email %></div>
        <div class="right-item col-3"><%= f.email_field :email %></div>

        <div class="left-item col-6"><%= f.label :password %></div>
        
        <div class="right-item col-6">
          <%= f.password_field :password %>
          <p><%= link_to "パスワードを忘れましたか?", new_password_reset_path %></p>
        </div>

        <div class="left-item col-6"></div>
        <div class="right-item col-3"><%= f.submit 'Login', class: 'btn btn-primary' %></div>

        <div class="left-item col-6"></div>
        <div class="right-item col-6">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %><span>次回以降自動でログインする</span>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>