<div class="base_background text-white">
  <h1 class="title mb-3 text-center">Sign up</h1>
  <div class="container">
    <%= form_for(@user) do |f| %>
      <div class="row">
        <div class="left-item col-6"><%= f.label :name %></div>
        <div class="right-item col-3"><%= f.text_field :name %></div>

        <div class="left-item col-6"><%= f.label :email %></div>
        <div class="right-item col-3"><%= f.email_field :email %></div>

        <div class="left-item col-6"><%= f.label :password %></div>
        <div class="right-item col-3"><%= f.password_field :password %></div>

        <div class="left-item col-6"><%= f.label :password_confirmation, 'Confirmation' %></div>
        <div class="right-item col-3"><%= f.password_field :password_confirmation %></div>

        <div class="left-item col-6"></div>
        <div class="right-item col-3"><%= f.submit 'Create Account', class: 'custom-btn btn-primary' %></div>
      </div>
    <% end %>
  </div>
</div>