<% provide :title, 'Profile' %>
<div class="">
  <div class="container">
    <div class="row">
      <div class="left-item col"><%= gravatar_for @user %></div>
      <div class="right-item col">
        <div class="profile-data-item"><%= @user.name %></div>
        <div class="profile-data-item"><p>お寿司食べたいよー</p></div>
        <div class="profile-data-item">
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path(current_user), class: "btn btn-primary" %>
            <%= link_to "削除", user_path, method: :delete, data: { confirm: '退会後のデータ復旧はできません。退会しますか？' }, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <!-- TODO: partialにしたい -->
      <div class="col-md-8">
        <% if @user.events.any? %>
          <h3>開催したイベント <% @user.events.ount %>件</h3>
          <ol class="events">
            <% @user.events.each do |event| %>
              <%= link_to event.title, event_path(event) %>
              <p><%= event.start_date %> - <%= event_end_date %></p>
            <% end %>
          </ol>
          <%= will_paginate @events %>
        <% end %>
      </div>
    </div>
  </div>
</div>