<% provide :title, @event.title %>

<div class="align-center">
  <% if @event.entries.count > @event.capacity %>
    <b class="text-danger">定員<%= @event.entries.count %>/<%= @event.capacity %>名</b>
  <% else %>
    <b>定員<%= @event.entries.count %>/<%= @event.capacity %>名</b>
  <% end %>
  <p><%= safe_join(@event.content.split("\n"), tag(:br)) %></p>
  <!-- ゲストユーザーの場合 -->
  <% if !logged_in? %>
    <p>※イベントの参加にはユーザー登録が必要です。登録は<%= link_to "こちら", signup_path %></p>
  <!-- 主催者の場合 -->
  <% elsif current_user.id == @event.user_id %>
    <%= link_to "編集する", edit_event_path(@event), class: "button" %>
  <% else %>
    <%= form_for(current_user.members.build) do |f|%>
      <%= hidden_field_tag :event_id, @event.id %>
      <% if !current_user.entry?(@event) && !(current_user.id == @event.user_id) && !capacity_over?(@event) && !time_over?(@event) %>
        <%= f.submit "参加する", class: "button", data: { confirm: "イベント[#{@event.title}]に参加しますか？" } %>
      <!-- 既に参加登録済みだった場合 -->
      <% else %>
        <p class="text-info">※参加登録済みです</p>
      <% end %>
    <% end %>
  <% end %>
</div>