<% provide :title, @event.title %>

<div class="align-center p-1 m-3">
  <% if @event.entries.count > @event.capacity %>
    <b class="text-danger">定員<%= @event.entries.count %>/<%= @event.capacity %>名</b>
  <% else %>
    <b>定員<%= @event.entries.count %>/<%= @event.capacity %>名</b>
  <% end %>
  <!-- ownerかmemberの場合はお知らせを表示 -->
  <% if (current_user.id == @event.user_id) || current_user.entry?(@event) %>
    <h5>お知らせ</h5>
    <% if @event.infos.any? %>
        <% @event.infos.each do |info| %>
          <div class=""><%= link_to info.title, event_info_path(@event, info) %></div>
        <% end %>
    <% else %>
      <p>お知らせはありません</p>
    <% end %>
  <% end %>
  <%#= textデータは改行して表示 %>
  <p><%= safe_join(@event.content.split("\n"), tag(:br)) %></p>
  <!-- ゲストユーザーの場合 -->
  <% if !logged_in? %>
    <p>※イベントの参加にはユーザー登録が必要です。登録は<%= link_to "こちら", signup_path %></p>
  <!-- 主催者の場合 -->
  <% elsif current_user.id == @event.user_id %>
    <%= link_to "編集する", edit_event_path(@event), class: "button" %>
  <% elsif !(current_user.id == @event.user_id) && !current_user.entry?(@event) && !capacity_over?(@event) && !time_over?(@event) %>
    <%= form_for(current_user.members.build) do |f|%>
      <%= hidden_field_tag :event_id, @event.id %>
      <%= f.submit "参加する", class: "button", data: { confirm: "イベント[#{@event.title}]に参加しますか？" } %>
    <% end %>
  <!-- エントリーできない場合 -->
  <% else %>
    <p class="text-info">※参加登録済みか、登録できない状態です。</p>
  <% end %>
</div>