<div class="container">
  <%= form_for(@user) do |f| %>
    <div class="row">
      <div class="col-11"><%= render 'partial/error_messages' %></div>

      <div class="left-item col-6"><%= f.label :name %></div>
      <div class="right-item col-3"><%= f.text_field :name %></div>

      <div class="left-item col-6"><%= f.label :email %></div>
      <div class="right-item col-3"><%= f.email_field :email %></div>

      <div class="left-item col-6"><%= f.label :password %></div>
      <div class="right-item col-3"><%= f.password_field :password %></div>

      <div class="left-item col-6"><%= f.label :password_confirmation, 'Confirmation' %></div>
      <div class="right-item col-3"><%= f.password_field :password_confirmatio %></div>

      <div class="left-item col-6"></div>
      <div class="right-item col-3"><%= f.submit yield(:button_text), class: 'btn btn-primary' %></div>
    </div>
  <% end %>
</div>