<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= full_title(yield(:title)) %></title>

  <!-- for datetimepicker -->
  <script type="text/javascript">
  $(function () {
    $('#startdate').datetimepicker({
      format: "YYYY-MM-DD HH:mm",
      minDate: Date.now(),
      toolbarPlacement: 'top',
      use24hours: true
    });
    $('#enddate').datetimepicker({
      format: "YYYY-MM-DD HH:mm",
      useCurrent: false,
      toolbarPlacement: 'top',
      use24hours: true
    });
    $("#startdate").on("change.datetimepicker", function (e) {
        $('#enddate').datetimepicker('minDate', e.date);
    });
    $("#enddate").on("change.datetimepicker", function (e) {
        $('#startdate').datetimepicker('maxDate', e.date);
    });
  });
  </script>
</head>