<header id="header">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <strong><%= link_to "HSPortal", root_path, class: "navbar-brand text-white" %></strong>
      <span class="navbar-toggler" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="menu">
        <i class="fa fa-bars"></i>
      </span>
      <div class="collapse navbar-collapse" id="nav-menu">
        <div class="navbar-nav">
          <!--
          <div class="nav-item">
            <%#= link_to "News", "#", class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%#= link_to "Posts", "#" %>
          </div>
          -->
          <div class="nav-item">
            <%= link_to "Events", events_path, class: "nav-link" %>
          </div>
          <% if logged_in? %>
          <div class="nav-item">
            <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
          </div>
          <div class="nav-item">
            <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </div>
          <% else %>
          <div class="nav-item">
              <%= link_to "Sign up", signup_path, class: "nav-link" %>
          </div>
          <div class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>

  </div>
</header>