<!--header -->
<header id="header">
  <div class="inner">
    <strong><%= link_to "HSPortal", root_path, class: "logo" %></strong>
    <!-- 規程幅以下になった場合の表示 -->
    <!-- 優先順位的に後回しにしている。 
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->
    <nav id="nav">
      <%= link_to "News", "#" %>
      <%= link_to "Posts", "#" %>
      <%= link_to "Events", events_path %>
      <% if logged_in? %>
        <!--
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
        -->
            <%= link_to "Profile", user_path(current_user), class: "" %>
            <%= link_to "Logout", logout_path, method: :delete, class: "" %>
      <% else %>
        <%= link_to "Sign up", signup_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </nav>
  </div>
</header>