<div class="flex justify-content-center">
  <%= form_for(@user) do |f| %>
    <%= render 'partial/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :name, 'ユーザー名' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'パスワード確認' %>
      <%= f.password_field :password_confirmatio %>
    </div>
    <ul class="actions">
      <li><%= f.submit yield(:button_text), class: 'btn' %></li>
    </ul>
  <% end %>
</div>