<!DOCTYPE html>
<html>
  <%= render 'shard/header' %>

  <body>
    <%= render 'shard/navbar' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <%= render 'shard/footer' %>
  </body>
</html>
